@import '~antd/dist/antd.css';

body{
  background-image: url(https://image.freepik.com/free-vector/yellow-background-with-halftone-lines-design_1017-30148.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#root{
  width: 75%;
  justify-content: space-around;
  align-self: auto;
  margin: auto;
  margin-top: 10%;
}
Table{
  background-color:#1890ff ;
  
  font-size: larger;
  font-weight: bolder;
  color: navy;

}
